*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html {
    scroll-behavior: smooth;
}
body{
    background:#fff;
    
    overflow-x: hidden;
}
@font-face {
    font-family:prgg;
    src: url(../font/SingleDay-Regular.ttf);
}
/* --------------------------------------headr-sec-------------- */
.bg{
    background-image: url(../images/bg.png);
    background-position: center; 

    background-size: cover;
    width: 100%;
    height:100%;
}

  .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding-top: 13vw;

}
.leter{
    width: 35vw;
    
}
.snd{
    width: 30vw;
}
.txt{
    text-align: center;
}
/* ----------------------bnr-sec--------------- */
.bnr-sec{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.left-side img{
width: 35vw;
transform: translateY(-10vw);
}
.right-side img{
    width: 35vw;
    transform: translateY(-10vw);
}

.centr .prg-1{
    font-size: 3vw;
    color: #000;
    font-family: prgg;
    text-align: center;
    word-spacing: 1vw;
    margin-top: 9vw;
}
.centr .prg-2{
    font-size: 3vw;
    color: #000;
    font-family: prgg;
    text-align: center;
    width: 100%;

    

    
}
.centr {
    width: 50vw;
}
.centr .prg-2 img{
    width: 4vw;
    transform: translateY(1vw);
    
}
.centr .prg-3{
    font-size: 3vw;
    color: #000;
    font-family: prgg;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centr .prg-3 img{
    width: 4vw;
}
/* -------lnks------------ */
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin-top: 6vw;
}
.links .btn img{
    width: 17.5vw;
    transform: translateX(5vw);
    margin-top: 1.6vw;
    transition: .5s;
}
.links .btn img:hover{
    /* transform:translateY(-.1vw); */
}
.links .icn img{
    width: 4.5vw;
    transition: .5s;
}
.links .icn img:hover{
    transform:translateY(-.5vw); 
}
.links .icn-2 img{
    width: 5vw;
    transition: .5s;
}
.links .icn-2 img:hover{
    transform:translateY(-.5vw); 
}
.end{
    font-size: 1.7vw;
    color: #000;
    font-family: prgg;
    text-align: center;
    width: 100%;
    margin-top: 100%;

    

    
}
/* ----------------meda query--------------------- */
@media (max-width:600px) {
    .bg{
        background-image: url(../images/bg.png);
        background-position: center; 
    
        background-size: cover;
        width: 100%;
        height: 150vw;
        overflow-x: hidden;
    }
    
      .text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: auto;
        padding-top: 17vw;
    
    }
    .leter{
        width: 42vw;
        
    }
    .snd{
        width: 35vw;
    }
    .txt{
        text-align: center;
    }
    .centr .prg-1{
        font-size: 4vw;
        color: #000;
        font-family: prgg;
        text-align: center;
        word-spacing: 1vw;
        margin-top: 9vw;
    }
    .centr .prg-2{
        font-size: 4vw;
        color: #000;
        font-family: prgg;
        text-align: center;
        width: 100%;
        
    
        
    
        
    }
    
    .centr .prg-2 img{
        width: 4vw;
        transform: translateY(1vw);
        
    }
    .centr .prg-3{
        font-size: 4vw;
        color: #000;
        font-family: prgg;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .centr .prg-3 img{
        width: 4vw;
    }
    .links .btn img{
        width: 22vw;
        transform: translateX(5vw);
        margin-top: 1.6vw;
        transition: .5s;
    }
    .links .icn img{
        width: 6vw;
        transition: .5s;
    }
    .links .icn-2 img{
        width: 6.5vw;
        transition: .5s;
    }
}